.fiction {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  &__messages {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    padding: 0 5rem;
  }

  &__choices {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
}
