@media (min-width: 601px) {
  .fiction {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 100%;
    padding: 1rem;
    &__messages {
      flex: 4;
      display: flex;
      flex-flow: column nowrap;
      padding: 0 5rem;
    }

    &__iswriting
    {
      color: white;
      position: absolute;
    }

    &__loadingmessage
    {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      position: relative;
      height: 3rem;
    }

    &__choices {
      flex: 1;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
    }
  }
}

.loadingstate
{
  font-weight: bold;
  color: white;
  margin-left: 0.2rem;
  position: absolute;
  animation: 2s infinite loadingmessage ease-in-out;
}

// Animation de chargement d'un message
@keyframes loadingmessage {
  0% {
    position: absolute;
    right: -40px;
  }

  50% {
    position: absolute;
    right: -15px;
  }

  100% {
    position: absolute;
    right: -40px;
  }
}