@media (min-width: 601px) {
  .errorpage
  {
    color: white;
    padding: 5rem;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;

    &__title
    {
      font-size: 5rem;
      font-weight: bold;
    }

    &__subtitle
    {
      font-size: 2.5rem;
    }

    &__livechat
    {
      width: 100%;
      height: 250px;
    }

    &__text
    {
      text-align: left;
      color: aqua;
      padding: 1rem;
      background-color: black;
      font-size: 1.5rem;
      width: 100%;
      height: 250px;
      display: flex;
      flex-flow: column;
      overflow-y: auto;
    }
  }

  .livechat__choices
  {
    display: flex;
    justify-content: space-between;

    &--item
    {
      width: 100%;
      height: 100%;
    }
  }

  .livechat__choice-button
  {
    border: none;
    background-color: lightgray;
    font-size: 1.1rem;
    padding: 0.6rem;
    border: 5px solid black;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: 0.50s;
    &:hover
    {
      border: 5px solid lightgray;
      transition: 0.50s;
      background-color: lightgray;
    }
  }

  .error__singlemessage
  {
    margin-bottom: 0.2rem;
  }
}
