@media (min-width:601px){

  .bibliotheque
  {
    height: 100%;
  };

  .menuTitle
  {
    text-align: center;
    font-size: 2.5rem;
    margin: 80px;
    color: white;
  };
  
  .searchForm
  {
    text-align: center;
    margin-bottom: 70px;
  };
  
  .searchInput
  {
    width: 50%;
    border-radius: 5px;
    height: 30px;
    border: 1px #acab solid;
    background-image: url("../../assets/images/loupe.png");
    background-position: 7px 6px;
    background-repeat: no-repeat;
    padding-left: 30px;  
  };
  
  .searchInput:focus
  {
    border: 2px #acab solid;
  };
  
  .card
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
  };
  
  .cardUnit
  {
    border-radius: 15px;
    margin: 1rem;
    height: 200px; 
  };
  
  .thumbnail
  {
    border-radius: 1rem;
    height: 198px;
    border: 2px solid black;
  }

  .fictionTitle
  {
    text-shadow: 1px 1px 1px gray;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid black;
    font-size: 1.5rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 1rem  1rem 0 0 ;
  };

  .resume
  {
    text-shadow: 1px 1px 1px black;
    padding-top: 60px;
    padding-left: 15px;
    padding-right: 15px;
    color: rgb(255, 255, 255);
    
    &-unlocked {
      background-image: url("../../assets/images/play.png");
      background-position-x: 10px;
      background-position-y: 10px;
      background-repeat: no-repeat;
    }
    
    &-locked {
      background-image: url("../../assets/images/lock3.png");
      background-position-x: 10px;
      background-position-y: 10px;
      background-repeat: no-repeat;
    }
  };

}