.footer
{
  padding-top: 1rem;
  padding-bottom: 1rem;
  max-height: 120px;
  background-color: transparent;
  width: 100%;
  text-align: center; 
  background-color: transparent;
  color: white;
}

.footerfollow
{
  padding-bottom: 10px;
  margin-right: 25%;
  margin-left: 25%;
}

.copyright
{
padding: 8px;
}

.fab
{
  margin: 3px;
}