@media (min-width: 601px) {
  .header
  {
    flex-shrink: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 1rem;
    width: 100vw;
  }

  .menu__burger
  {
    display: none;
  }

  .menu__desktop
  {
    display: flex;
    color: white;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .menu__disconnect
  {
    font-size: 1rem;
    color: #969696;
    border: none;
    background-color: transparent;
    transition: 1s;

    &:hover
    {
      color: green;
      transition: 0.25s;
    }
  }

  .link
  {
    font-size: 1rem;
    color: #969696;
    font-family: sans-serif;
    font-weight: bold;
    margin: 0 0.5rem;
    padding-bottom: 0.2rem;
    &:hover
    {
      border-bottom: 2px solid #969696;
    }
  }

  .active
  {
    color: #fff;
    border-bottom: 2px solid #fff;
  }
}