@media (min-width: 601px) {
  .menu__burger
  {
    display: none;
  }

  .menu__desktop
  {
    position: fixed;
    top: 1rem;
    left: 1rem;
    display: flex;
    color: white;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
  }

  .link
  {
    font-size: 1rem;
    color: #969696;
    font-family: sans-serif;
    font-weight: bold;
    margin: 0 0.5rem;
    padding-bottom: 0.2rem;
    &:hover
    {
      border-bottom: 2px solid #969696;
    }
  }

  .active
  {
    color: #fff;
    border-bottom: 2px solid #fff;
    &:hover
    {
      border-bottom: 2px solid #fff;
    }
  }
}