@media (max-width: 600px) {
  .header {
    position: fixed;
    top: 10px;
    right: 10px;
    max-height: 100px;
  }

  .menu__desktop {
    display: none;
  }

  .menu__burger {
    display: block;
    color: white;
  }

  .burger__button {
    background-color: transparent;
    border: none;
  }

  .burger__icon {
    color: white;
  }

  .menu__login-panel-icon
  {
    position: absolute;
    top: 3rem;
    right: 1rem;
  }

  .link
  {
    font-size: 1rem;
    color: #969696;
    font-family: sans-serif;
    font-weight: bold;
    margin: 0 0.5rem;
    padding-bottom: 0.2rem;
    &:hover
    {
      border-bottom: 2px solid #969696;
    }
  }

  .active
  {
    color: #fff;
    border-bottom: 2px solid #fff;
    &:hover
    {
      border-bottom: 2px solid #fff;
    }
  }
}
