@media (max-width: 1024px) {
    .titreContact
    {
    text-align: center;
    color: white;
    font-size: 2rem;
    padding-top: 4rem;
    padding-bottom: 2rem;
    };

    .textCard
    {
        display: flex;
        justify-content: space-around;
        margin-top: 130px;
        color: white;
        font-size: 1.2rem;
        display: none;
    };

    .cardContact
    {
        display: flex;
        justify-content: space-around;
        margin-top: 5px;
        flex-wrap: wrap;
    };

    .cardContactText
    {
        text-align: center;
        color: white;
        margin-top: 10px;
        font-size: 1.2rem;
    };

    .intelligence
    {
        border: 1px #acab solid;
        width: 51%;
        height: 134px;
        background-image: url("https://media.discordapp.net/attachments/364094342953959424/765579866086309938/info1.jpg");
        background-size: 125%;
        background-repeat: no-repeat;
        border-radius: 10px;
        margin-bottom: 25px;
        background-position: center;
    };

    .idea
    {
        border: 1px #acab solid;
        width: 51%;
        height: 134px;
        background-image: url("https://media.discordapp.net/attachments/364094342953959424/765579859069239296/idea2.jpg");
        background-size: 125%;
        background-repeat: no-repeat;
        border-radius: 10px;
        margin-bottom: 25px;
        background-position: center;
    };

    .email
    {
        border: 1px #acab solid;
        width: 51%;
        height: 134px;
        background-image: url("https://media.discordapp.net/attachments/364094342953959424/765579841608351774/contact1.jpg");
        background-size: 101%;
        background-repeat: no-repeat;
        border-radius: 10px;
        margin-bottom: 25px;
        background-position: center;
    };
}