@media (min-width: 601px) {
    .titreContact
    {
    text-align: center;
    color: white;
    font-size: 2rem;
    padding-top: 16rem;
    };

    .cardContact
    {
        display: flex;
        justify-content: space-around;
        margin-top: 150px;
    };

    .app-vide
    {
        position: fixed;
        width:100vw;
        left: 50%;
        top: 50%;
        height: 100vh;
        object-Fit: cover;
        transform: translate(-50%, -50%);
        z-index: -1;
    };

    .intelligence
    {
        color: white;
        font-size: 1.2rem;
        text-align: center;
        border: 1px white solid;
        width: 15%;
        height: 150px;
        background-image: url(../../assets/images/info1.jpg);
        background-size: 101%;
        background-repeat: no-repeat;
        border-radius: 10px;
    };

    .idea
    {
        color: white;
        font-size: 1.2rem;
        text-align: center;
        border: 1px white solid;
        width: 15%;
        height: 150px;
        background-image: url(../../assets/images/idea2.jpg);
        background-size: 101%;
        background-repeat: no-repeat;
        border-radius: 10px;
    };

    .email
    {
        color: white;
        font-size: 1.2rem;
        text-align: center;
        border: 1px white solid;
        width: 15%;
        height: 150px;
        background-image: url(../../assets/images/contact1.jpg);
        background-size: 101%;
        background-repeat: no-repeat;
        border-radius: 10px;
    };
}