@media (max-width: 600px) {
  .home {
    flex: 1;
    color: white;

    &__firstlook {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-evenly;
      align-items: center;
      min-height: 100vh;
    }

    &__group {
      text-align: center;
    }

    &__logo {
      margin-bottom: 0.5rem;
      max-height: 180px;
    }

    &__title {
      text-shadow: 2px 2px 2px black;
      font-family: "Oswald", sans-serif;
      font-weight: bold;
      font-size: 2.7rem;
    }

    &__subtitle {
      font-family: "Oswald", sans-serif;
      font-size: 1.7rem;
      font-style: italic;
    }

    &__fictions {
      min-height: 100vh;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
    }
  }
}
