.home
{
  flex: 1;
  color: white;

  &__firstlook
  {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
  }

  &__item
  {
    margin-bottom: 4rem;
  }

  &__title
  {
    font-family: 'Yatra One', cursive;
    font-size: 3rem;
    margin-bottom: 0;
  }
  
  &__subtitle
  {
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    font-style: italic;
  }
}
