@media (max-width: 600px) {
  .profil
  {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-top: 5rem;

    &__title
    {
      color: white;
      font-size: 1.8rem;
      padding: 1rem;
      text-align: center;
    }

    &__card
    {
      width: 100%;
      display: flex;
      flex-flow: column nowrap;
      background-color: rgb(49, 49, 49);
      border: 2px solid black;
      border-radius: 1rem;
      margin-bottom: 3rem;
      overflow: hidden;
    }

    &__informations
    {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
    }
    &__picture
    {
      text-align: center;
      width: 100%;
      height: 200px;
      border-bottom: 2px solid black;
      overflow: hidden;

      &--image
      {
        width: 200px;
        height: 200px;
      }
    }

    &__data
    {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: flex-start;
      
      &--item
      {
        padding: 1rem;
        color: white;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
      }

      &--title
      {
        margin-bottom: 0.2rem;
        font-weight: bold;
      }

      &--input
      {
        color: white;
        background-color: #4d4d4d;
        border: none;
        font-size: 1.1rem;
      }

      &--value
      {
        color: rgb(146, 146, 146);
        font-size: 1rem;
      }
    }

    &__button
    {
      border: none;
      border-top: 2px solid black;
      color: white;
      background-color: rgba(255, 255, 255, 0.267);
      width: 100%;
      display:flex;
      align-items: center;
      justify-content: center;

      &-modify
      {
        background-color: #2a5980;
      }

      &--text
      {
        font-size: 1.1rem;
        display: block;
      }
    }
  }
}