@media (min-width: 601px) {
  .profil
  {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 5rem 3rem 1rem;
    min-height: 100%;

    &__title
    {
      color: white;
      font-size: 2rem;
      padding: 1rem;
    }

    &__card
    {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      background-color: rgb(49, 49, 49);
      border: 2px solid black;
      border-radius: 1rem;
      margin-bottom: 3rem;
    }

    &__informations
    {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      min-width: 600px;
    }
    &__picture
    {
      width: 200px;
      height: 200px;
      border-radius: 1rem 0 0 1rem;
      margin-right: 1rem;
      border-right: 2px solid black;
      overflow: hidden;

      &--image
      {
        width: 200px;
        height: 200px;
      }
    }

    &__data
    {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: flex-start;
      
      &--item
      {
        padding: 1rem;
        color: white;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
      }

      &--title
      {
        margin-bottom: 0.2rem;
        font-weight: bold;
      }

      &--value
      {
        color: rgb(146, 146, 146);
        font-size: 1rem;
      }
    }

    &__button
    {
      border-radius: 0 1rem 1rem 0;
      border: none;
      border-left: 2px solid black;
      color: white;
      background-color: rgba(255, 255, 255, 0.267);
      width: 2rem;
      display:flex;
      align-items: center;
      justify-content: center;

      &--text
      {
        font-size: 1.1rem;
        display: block;
        transform: rotate(90deg);
      }
    }
  }
}