html {
  font-size: 16px;
}

.app {
  display: flex;
  flex-direction: column;
  background-attachment: fixed;
  height: 100vh;
  background-image: linear-gradient(to left bottom, #292929, #2d2d34, #2d323f, #2a384a, #223f55, #254258, #29455c, #2c485f, #3b485b, #454a57, #4b4b52, #4e4e4e);
}

.scrollzone {
  flex: 1;
  overflow-y: auto;
}

// Paramètres de modification de la scrollbar
// ===========================================
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 100px;
  height: 100vh;
}
::-webkit-scrollbar-thumb {
  background: #1e89a4;
  border: 0px none #ffffff;
  border-radius: 33px;
}
::-webkit-scrollbar-thumb:hover {
  background: #1e89a4;
}
::-webkit-scrollbar-thumb:active {
  background: #1e89a4;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 20px;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
// ===========================================
