html {
  font-size: 16px;
}

.app {
  display: flex;
  flex-direction: column;
  background-attachment: fixed;
  height: 100vh;
  background-image: linear-gradient(
    to right top,
    #323232,
    #393945,
    #3d4158,
    #3b4a6d,
    #335483,
    #285187,
    #1a4e8c,
    #004b90,
    #003a82,
    #002872,
    #051662,
    #0b0051
  );
}

.scrollzone {
  flex: 1;
  overflow-y: auto;
}

// Paramètres de modification de la scrollbar
// ===========================================
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 100px;
  height: 100vh;
}
::-webkit-scrollbar-thumb {
  background: #1e89a4;
  border: 0px none #ffffff;
  border-radius: 33px;
}
::-webkit-scrollbar-thumb:hover {
  background: #1e89a4;
}
::-webkit-scrollbar-thumb:active {
  background: #1e89a4;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 20px;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
// ===========================================
