.message
{
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 70%;

  &__content
  {
    background-color: rebeccapurple;
    border-radius: 1rem;
    padding: 1.5rem 1rem 0.5rem;
  }
}

.profile-picture
{
  position: relative;
  top: 1.5rem;
  width: 70px;
  border-radius: 100%;
}